# ----- Credenciais (NUNCA versionar) -----
.env

# ----- Dados baixados/locais (NUNCA versionar) -----
data/
*.zip
*.csv

# ----- Python -----
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
analise_das_planilhas.ipynb
ERR Diagrama.mwb